{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<section class="hero">
    <div class="overlay"></div>
    <div class="hero-content">
        <h2>Welcome to <span>Fork & Fortune</span></h2>
        <p>
            Your destination for delicious meals and delightful
            experiences.
        </p>
        <div class="hero-buttons">
            <button><a href="menu.html">OUR MENU</a></button>
            <button><a href="contact.html">BOOK A TABLE</a></button>
        </div>
    </div>
</section>
{% endblock %}